@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Odibee Sans', cursive;
}
html {
    height: 100%;
}
body {
    background-image: linear-gradient(296deg,#fa1302 50%,transparent 13%);
    background-size: cover;
    background-repeat: no-repeat;
}
#spinner {
    border-top:10px solid black;
    border-left:10px solid red;
    border-right:10px solid red;
    border-bottom: 10px solid red;
    border-radius: 50%;
    height:40px;
    width:40px;
    display: inline-block;
    background-color:white;
    animation:spin 0.01s infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}